# BEGIN WordPress
RewriteEngine On

RewriteCond %{HTTP_HOST} ^(.*)\.youngevitybethechange\.org
RewriteRule ^(.*)$ https://youngevitybethechange.org/%1/$1 [L,NC,QSA]

RewriteCond %{HTTPS_HOST} ^(.*)\.youngevitybethechange\.org
RewriteRule ^(.*)$ https://youngevitybethechange.org/%1/$1 [L,NC,QSA]

RewriteBase /

RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /index.php [L]
# END WordPress
